langchain==0.2.11
langchain-community==0.2.10
langchain-experimental==0.0.62
langchainhub==0.1.18

#streamlit==1.32.2
streamlit==1.44.0

transformers==4.52.3

openai-whisper @ git+https://github.com/openai/whisper.git
setuptools-rust
certifi